<md-card id="single-view" *ngIf="selectedPost != undefined">
    <md-card-header>
        <md-card-title id="post-header">
        <span class="selected-post-title">{{ selectedPost.title }}</span>
        <button md-mini-fab id="edit-button" (click)="editPost()" *ngIf="edit"><md-icon>mode_edit</md-icon></button>
        </md-card-title>
        <md-card-subtitle class="selected-post-date">
            {{ dt }}
        </md-card-subtitle>
    </md-card-header>
    <md-card-content class="selected-post-content">
        <div class="section" *ngFor="let section of selectedPost.contents; let i = index">
            <img *ngIf="selectedPost.images[i] != undefined" src="{{selectedPost.images[i]}}" class="section-image" />
            <span class="section-content">{{ section }}</span>
        </div>
    </md-card-content>
</md-card>