#entry {

}
#new-post {
    display: flex;
    flex-flow: column;
}

.form-element {
    width: 100%;
    margin: 2px;
}

#post-title {

} 
#title {

}
#post-content {
}
#content {
    height: 100%;
    overflow: auto;
}

#images {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.image {
    height: 100px;
}
#buttons {

}

.warning-message {
    background-color: pink;
    color: red;
    border-radius: 2px;
    padding-left: 10px;
}

.drop-zone {
    border: dotted 8pt darkgray;
    background: lightblue;
}

.drop-zone.file-present {
    background: darkslategray;
}

.pending:before {
    content: "*";
    color: blue;
}