#entry {

}
#new-post {
    display: flex;
    flex-flow: column;
}

.form-element {
    width: 100%;
    margin: 2px;
}

#post-title {

} 
#title {

}
#post-content {
}
#content {
    height: 200px;
    overflow: auto;
}

#images {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.image {
    height: 100px;
    margin-right: 5px;
}
#buttons {

}

.warning-message {
    background-color: darkred;
    color: pink;
    border-radius: 2px;
    padding-left: 10px;
}

.image-container {
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.image-desc {
    width: 100%;
    text-align: center;
    border: 2px lightgrey solid;
}

.image-dropdown {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    border-radius: 2px 0;
}

.dropdown-option {
    border-left: 2px lightgrey solid;
    border-right: 2px lightgrey solid;
    border-bottom: 2px lightgrey solid;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: lightgrey;
}