<md-card id="entry">
    <h1>New Post</h1>
    <form id="new-post">
        <div *ngIf="message.length > 0" id="message">
            {{message}}
        </div>
        <md-input-container id="post-title" class="form-element">
            <input type="text" md-input placeholder="title" id="title" required [(ngModel)]="pendingPost.title" name="title" #name="ngModel" />
        </md-input-container>
        <div [hidden]="name.valid || name.pristine" class="warning-message form-element">
            Title is required.
        </div>
        <md-input-container id="post-content" class="form-element">
            <textarea rows="30" cols="15" md-input placeholder="post content" id="content" [(ngModel)]="pendingPost.contents" name="content" required >
            </textarea>
        </md-input-container>
        <md-radio-group [(ngModel)]="pendingPost.type" name="type" class="form-element" id="type">
            <md-radio-button value="recipe">Recipe</md-radio-button>
            <md-radio-button value="review">Review</md-radio-button>
        </md-radio-group>
        <div class="form-element">
            <div id="images">
                <img *ngFor="let src of pendingPost.images" [src]="src" class="image"/>
                <img *ngFor="let pending of filePahts" [src]="pending" class="image pending" />
            </div>
        </div>
        <div id="upload">
            <input type="file" id="filePahts" (change)="addImages($event.srcElement.files)" multiple/>
            <button md-raised-button id="upload-button" >Upload</button>
        </div>
        <div *ngFor="let image of status">
            {{image.name}}: {{image.status}}
        </div>
        <div class="form-element" id="buttons">
            <button md-raised-button id="submit" color="primary">Submit</button>
            <button md-raised-button id="cancel" color="warning">Cancel</button>
        </div>
    </form>
</md-card>