<md-card id="entry">
    <div id="title">
        <h1>{{ title }}</h1>
        <button id="delete-post" md-mini-fab (click)="deletePost()"><md-icon *ngIf="pendingPost._id != -1">delete</md-icon></button>
    </div>
    <form id="new-post">
        <md-input-container id="post-title" class="form-element">
            <input type="text" md-input placeholder="title" id="title" required [(ngModel)]="pendingPost.title" name="title" #name="ngModel" />
        </md-input-container>
        <md-input-container id="post-content" class="form-element">
            <textarea rows="30" cols="15" md-input placeholder="post content" id="content" [(ngModel)]="pendingContents" name="content" required >
            </textarea>
        </md-input-container>
        <md-radio-group [(ngModel)]="pendingPost.type" name="type" class="form-element" id="type">
            <md-radio-button value="recipes">Recipe</md-radio-button>
            <md-radio-button value="reviews">Review</md-radio-button>
        </md-radio-group>
        <div class="form-element">
            <div id="images">
                <div class="image-container" *ngFor="let src of pendingPost.images;let i = index">
                    <img [src]="src" class="image"/>
                    <div class="image-desc">
                        <span>{{ _imageOptions[i] }}</span>
                        <button md-raised-button color="primary" (click)="toggleVisable(i)" class="dropdown-button">
                            <md-icon >expand_more</md-icon>
                        </button>
                    </div>
                    <div class="image-dropdown" *ngIf="isVisable(i)">
                        <span class="dropdown-option" *ngFor="let option of imageOptions(i);" (click)="chooseOption(i, option)">{{ option }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="upload">
            <input type="file" id="filePahts-hidden" (change)="addImages($event.srcElement.files)" multiple style="display: none;"/>
            <button md-raised-button id="upload-button" (click)="clickInput()">Choose Image(s)</button>
        </div>
        <div class="form-element" id="buttons">
            <button md-raised-button id="submit" color="primary" (click)="action()">Submit</button>
            <button md-raised-button id="cancel" color="warning">Cancel</button>
        </div>
    </form>
</md-card>